.App {
  text-align: center;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/97/The_Earth_seen_from_Apollo_17.jpg) no-repeat center center fixed;
}


.App {
  background-image: "https://upload.wikimedia.org/wikipedia/commons/9/97/The_Earth_seen_from_Apollo_17.jpg";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}
.page {
  align-items:center;
  justify-content:center;
  color: black;
}
.input-text {
  font-size:30px;
}
.props {
  font-size: 60px;
}
.input {
  border-radius:18px;
  background: white;
  padding:20px;
  width:50px;
  height:.01px;
  flex-grow:1;
  font-size: 20;
}

.title {
  font-size: calc(30px +2vmin);
  letter-spacing: 60px;
  align-items: center;
  justify-content:center;
}
.App-link {
  color: #09d3ac;
}
.product {
  border: 20px white;
  font-size: 60px;
}
.product_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.input_button {
  display:flex;
  flex-direction:row;
  padding:2px;
}
.product_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size:30px;
  display:inline-flex;
}
button {
background-color: #282c34;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  line-height: normal;
  display:inline-block;
  padding:0.35em 1.2em;
  border: 0.2em solid aliceblue;
  margin: .3em;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Arial';
  font-weight:400;
  color: aliceblue;
  text-align:center;
  transition: all .2s;
}
.scanbutton {
  height:50px;
}
.submitbutton {
  font-size: 12px;
  display: flex;
  flex-direction: row;
}
.RED {
  color: red;
}
.ORANGE {
  color: orange;
}
/* teeny tiny screens */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 20px;
    text-align:center;
    align-items:center;
  }
  .RED {
    color: red;
  }
  .ORANGE {
    color: orange;
  }
  .button {
  display:inline-block;
  font-size: 10px;
  padding:0.2em;
  margin: .2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Arial';
  font-weight:50;
  text-align:center;
  transition: all .2s;
  }
  .input {
  border-radius:10px;
  background: white;
  padding:10px;
  width:50px;
  height:.01px;
  flex-grow:2;
  }
  .product_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
  }
  .product_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    font-size: 25px;
    display:inline-flex;
  }
  .product {
    border: 20px white;
    font-size: 30px;
  }
}